@model RegistroPagos.Models.FormaPago
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 class="text-info">Detalles Forma de Pago</h2>

<form method="post" action="Edit">
    <div class="border">
        <div class="border pt-5 pl-3">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Descripcion" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input readonly asp-for="Descripcion" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="_BotonesEditarRegresar" model="Model.Id" />
                </div>
            </div>
        </div>
    </div>
</form>
